<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Contacts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  {% load static %}
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'><link rel="stylesheet" href="{% static 'css/contacts.css' %}">

</head>
<body>

<div class="--dark-theme" id="chat">
  <div class="chat__conversation-board">

<!--   Contacts Page   -->
    {% for contact in  contacts %}

          <div class="chat__conversation-board__message-container">
            <div class="chat__conversation-board__message__person">
              <a href="{% url 'chat_room' contact.id user.id %}">
                  <div class="chat__conversation-board__message__person__avatar"><img src="https://randomuser.me/api/portraits/women/44.jpg" alt="Monika Figi"/></div><span class="chat__conversation-board__message__person__nickname">Monika Figi</span>
              </a>
            </div>
            <div class="chat__conversation-board__message__context">
              <a href="{% url 'chat_room' contact.id user.id %}" >
                <div class="chat__conversation-board__message__bubble">
                  <span>
                    {% if contact.username == "" %}
                        {{ contact.email }}
                    {% else %}
                      @ {{ contact.username }}
                    {% endif %}
                  </span>
                </div>
              </a>
            </div>
            <div class="chat__conversation-board__message__options">
              <button class="btn-icon chat__conversation-board__message__option-button option-item emoji-button">
                <svg class="feather feather-smile sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                  <circle cx="12" cy="12" r="10"></circle>
                  <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                  <line x1="9" y1="9" x2="9.01" y2="9"></line>
                  <line x1="15" y1="9" x2="15.01" y2="9"></line>
                </svg>
              </button>
              <button class="btn-icon chat__conversation-board__message__option-button option-item more-button">
                <svg class="feather feather-more-horizontal sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                  <circle cx="12" cy="12" r="1"></circle>
                  <circle cx="19" cy="12" r="1"></circle>
                  <circle cx="5" cy="12" r="1"></circle>
                </svg>
              </button>
            </div>
          </div>

    {% endfor %}








  </div>

</div>


</body>
</html>
