<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact V10</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container-contact100">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form" method="post" action="{% url 'contact_add' %}">
                {% csrf_token %}
                <span class="contact100-form-title">
                    Contact Name or email
                </span>
                {% if message %}
                <span >
                    {{ message }}
                </span>
                {% endif %}
                <div class="wrap-input100 validate-input" data-validate="Please enter your email: e@a.x">
                    <input class="input100" type="text" name="username" placeholder="friend's username">
                    <span class="focus-input100"></span>
                </div>

                

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit">
                        <span>
                            <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                            Add
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>    
</body>

</html>