{% extends 'chat/layout.html' %}
{% load static %}
{% block csslink %} <link rel="stylesheet" href="{% static 'css/login.css' %}" />  {% endblock %}
{% block title %}Login{% endblock %}
{% block body %}


    <main class="form-signin">
         <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            {% if message %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    {{message}}
                </div>
              </div>

            {% endif %}

            <div class="form-floating">
                <input type="text" class="form-control" name="username" id="floatingInput" placeholder="username" />
                <label for="floatingInput">User</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" />
                <label for="floatingPassword"> Password </label>
            </div>

              <input class="w-100 btn btn-lg btn-primary" type="submit" value="Login" />
              <p>Don't you have an acoount yet?  <a class="text-primary" href="{% url 'registration' %}">Sign up</a></p>



            <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
        </form>

    </main>

{% endblock  %}